<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
    <script th:src="@{/static/easyui/jquery.min.js}"/>
    <script th:src="@{/static/easyui/jquery.easyui.min.js}"/>
    <script th:src="@{/static/easyui/locale/easyui-lang-zh_CN.js}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/icon.css}" />
</head>
<body>
<table class="easyui-datagrid" id="itemList" title="用户列表"
       data-options="singleSelect:false,collapsible:true,pagination:true,
    url:'/user/findUsers',method:'get',pageSize:10">
    <thead>
    <tr>
        <th data-options="field:'id',hidden:true">用户ID</th>
        <th data-options="field:'username',width:200">用户名</th>
        <th data-options="field:'realname',width:100">真实姓名</th>
        <th data-options="field:'enabled',width:100">是否启用</th>
    </tr>
    </thead>
</table>
</body>
</html>